<br><br><br><br><br>

<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12" >
        <div class="card">
          <div class="card-header card-header-warning daterange">
            <h4 class="card-title">Graph of Top performing agents analytics</h4>
            <div>
              <label>From</label>
              <input type="date" name="topperformstartdate" [(ngModel)]="topperformstartdate"/>
            </div>
            <div>
              <label>To</label>
              <input type="date" name="topperformenddate" [(ngModel)]="topperformenddate"/>
            </div>
            <div>
                <button class="btn btn-white generate" (click)="generatetopagraphformByDate()">Generate</button>
              </div>
          </div>
          <div class="card-body">
            <div class="spinner">
              <app-spinner *ngIf="loading" ></app-spinner>
            </div>
            <div class="chart">
              <canvas id="performance"  width="400" height="120"></canvas>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>