/*.logincard{
    display: block; 
    margin-left:  auto;
     margin-right: auto; 
     margin-top: 190px;
     text-align: left;

}
.img{
    height: 120px;
    width: 300px;
    display: block; 
    margin-left:  auto;
     margin-right: auto;
    
}



.btn{
    background:#3fa0e0;
}

.btn:hover{
background: #df2e36;
}
*/





.logincard{
  
    margin-left:  auto;
     margin-right: auto; 
     margin-top: 190px;
     text-align: left;


}
.img{
    height: 120px;
    width: 300px;
    display: block; 
    margin-left:  auto;
     margin-right: auto;
    
}




body {
    font-family: "Lato", sans-serif;
}



.main-head{
    height: 150px;
    background: #FFF;
   
}

.sidenav {
    background: rgb(132, 201, 241);
    height: 100%;
    /*background-image: url('/assets/img/bgd1.jpg');*/
    overflow-x: hidden;
    padding-top: 20px;
}


.main {
    padding: 0px 10px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
}

@media screen and (max-width: 450px) {
    .login-form{
        margin-top: 10%;
    }

    .register-form{
        margin-top: 10%;
    }
}

@media screen and (min-width: 768px){
    .main{
        margin-left: 40%; 
    }

    .sidenav{
        width: 40%;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
    }

    .login-form{
        margin-top: 80%;
    }

    .register-form{
        margin-top: 20%;
    }
}


.login-main-text{
    margin-top: 20%;
    padding: 60px;
    color: #fff;
}

.login-main-text h2{
    color: #fff;
    font-weight: 300;
}





.btn{
    background:#3fa0e0;
}

.btn:hover{
background: #df2e36;
}
