<!--<body>
<div class="col-md-4 logincard">
   <div class="card animated tada" >
     <!-- <h6 class="card-category text-gray" align="center">smartCover</h6>-->
<!-- <div class="card-avatar">
        <a href="#pablo">
          <img class="img" src="assets/img/smc.png" />
        </a>
      </div>
      <div class="card-body">
       
        <h3 class="card-title" align="center">Admin Portal</h3>
      
            <form (ngSubmit)="login()" #f="ngForm">
                <div class="form-group">
                  <label class="bmd-label-floating"> Email</label>
                  <input type="email" class="form-control" name="em" [(ngModel)]="usr.email" required>
                </div>

             
                <br><br>
              
                  <div class="form-group">
                    <label class="bmd-label-floating">Password</label>
                    <input type="password" class="form-control" id="pwd" name="pwd" [(ngModel)]="usr.password" required>
                  </div>
                  <br><br>

                 
        
                 <button type="submit" class="btn btn-block" [disabled]="!f.valid">LogIn</button>
                 <!--<a href="" align="center">Create Account Here</a>-->
                
    <!--</form>
       
      
    </div>
   </div>
  </div>





</body>-->







<body>

    <div class=" sidenav">
      <div class="login-main-text">
          <img class="img" Style=" border-radius: 550px; width: 130px;   border: 5px solid rgb(250, 250, 250);" src="assets/img/bgd1.jpg" />

          <h2 class="card-title" align="center">Smart Admin Portal</h2>

         <img class="img" src="assets/img/smc.png" />


      </div>
   </div>
   <div class=" main">
      <div class="col-md-5 col-sm-12">
        <div class=" logincard">
     <div class=" animated tada" >
       <!-- <h6 class="card-category text-gray" align="center">smartCover</h6>-->
       
        <div class="card-body">
         
            <h3 align="center">Master Login </h3>

              <form (ngSubmit)="login()" #f="ngForm">
                  <div class="form-group">
                    <label class="bmd-label-floating"> Email</label>
                    <input type="email" class="form-control" name="em" [(ngModel)]="usr.email" required>
                  </div>
  
                  <br><br>
                
                    <div class="form-group">
                      <label class="bmd-label-floating">Password</label>
                      <input type="password" class="form-control" id="pwd" name="pwd" [(ngModel)]="usr.password" required>
                    </div>
                    <br><br>
          
                   <button type="submit" class="btn btn-round btn-block" [disabled]="!f.valid">LogIn</button>
                   <!--<a href="" align="center">Create Account Here</a>-->
                  
        </form>
         
        
      </div>
     </div>
    </div>
      </div>
   </div>

   </body>



  
  
  