<br><br><br><br><br>
<div class="content">
   <div class="container-fluid">
     <div class="row" *ngIf="generatestickerno">
       <div class="col-md-4">

       </div>
       <div class="col-md-4">
         <div class="card">
           <div class="card-header card-header-info">
             <h4 class="card-title ">Generate Stickers for : {{ agentid }}</h4>
             <p class="card-category"> </p>
           </div>
           <div class="card-body">
             <form [formGroup]="genstickerform">
                 <div class="range-form">
                   <div class="range">
                     <input type="number"  placeholder="Min"  formControlName="min"  class="form-control">
                   </div>
                   <div class="range">
                     <input type="number"  placeholder="Max"   formControlName="max" class="form-control">
                   </div>  
                 </div>
                 <div class="range-btn">
                   <button type="submit" class="btn btn-round btn-info" (click)="generateStickers()">
                     Generate
                   </button>
                   <button type="submit" class="btn btn-round btn-danger" (click)="cancelfn()">
                     Cancel
                   </button>
                 </div>
             </form>
           </div>
         </div>
       </div>
       <div class="col-md-4">

       </div>
     </div>
     <div class="row">

       <div class="col-md-12">
         <div class="card">
           <div class="card-header card-header-warning">
             <h4 class="card-title ">Agent</h4>
             <p class="card-category"> Records of Agents</p>
           </div>
           <div class="card-body">
               <div class=" form-inline active-cyan active-cyan-2 md-form mt-0 search">
                   <input class="form-control" type="text" placeholder="Search by Anything" #query (keyup)="search(query.value)" aria-label="Search">
                 </div>
             <div class="table-responsive">
               <table class="table">
                 <thead class=" text-warning">
                   <th>#</th>
                   <th>ID</th>
                   <th>First name</th>
                   <th>Last name</th>
                   <th>Phone</th>
                   <th>Email</th>
                   <th>Date-Time</th>
                   <th>Action</th>
                 </thead>
                 <tbody>
                     <tr *ngFor="let agent of searchdata ; let i=index;" >
                         <td>{{ i + 1}}</td>
                         <td>{{agent.id}}</td>
                         <td>{{agent.firstName}}</td>
                         <td>{{agent.lastName}}</td>
                         <td>{{agent.phone}}</td>
                         <td>{{agent.email}}</td>
                         <td>{{agent.date_created}}</td>
                         <td>
                           <button type="button" rel="tooltip" title="Generate Sticker No" (click)="generatefn(agent)" class="btn btn-sm btn-warning ">
                             <i class="material-icons">edit</i>
                             Generate No
                           </button>
                         </td>
                        </tr>
                   
                 </tbody>
               </table>
             </div>
           </div>
         </div>
       </div>
     </div>

 </div>
</div>



