<div class="card">
  <div class="card-header card-header-warning">
    <h4 class="card-title">Customer</h4>
    <!--<p class="card-category">New Customer on 15th September, 2016</p>-->
    <!--<button type="button" class="btn btn-sm btn-info" (click)="customermod()">Expand</button>-->
  </div>
  <div class="card-body table-responsive">
    <table class="table table-hover">
      <thead class="text-warning">
        <th>ID</th>
        <th>Agent ID</th>
        <th>First Name</th>
        <th>Phone number</th>
        <th>Client ID</th>
        <th>Email</th>
        <th>Last Created</th>
       <!-- <th>Create Policy ID</th>-->
      </thead>
      <tbody>
        <tr *ngFor="let customer of searchdata ; let i=index;" >
          <td>{{ i + 1}}</td>
          <td>{{customer.agent_id}}</td>
          <td>{{customer.first_name}}</td>
          <td>{{customer.phone}}</td>
          <td>{{customer.client_id}}</td>
          <th>{{customer.email}}</th>
          <td>{{customer.date_created}}</td>
         <!-- <td>
            <button type="button" rel="tooltip" title="Edit Task" class="btn btn-sm btn-warning ">
              <i class="material-icons">add</i>
              Policy No.
            </button>
          </td>-->
        </tr> 
      </tbody>
    </table>
  </div>
</div>