<br><br><br><br>



<div class="content">
  <div class="container-fluid"> 
  <div class="row">
    <div class="col-md-1">

    </div>
    <div class="col-md-10">
      <div class="card">
        <div class="card-header card-header-danger">
          <h4 class="card-title">Reset PIN</h4>
        
        </div>
        <div class="card-body">
          <!-- <form [formGroup]="resetForm"> -->
            <!-- <div class="row">
              <div class="col-md-10">
                <div class="form-group">
                  <label class="bmd-label-floating">New PIN</label>
                  <input Style=" text-transform: uppercase;" type="text"  formControlName="newPIN" class="form-control">
                </div>
              </div>
              
            </div> -->



            <p style="font-size: 16px;" class="mat-body-1">
              Oops!... Looks like this reset link is no longer valid or expired.
              Please request a new reset link from the SmartAgent App.
              <!-- You can request a new link by <a routerLink="/reset">clicking here</a> -->
  
          </p>
            <!-- <div class="row">
              <!-- <div class="col-md-4">
                <div class="form-group">
                  <label class="bmd-label-floating">Phone</label>
                  <input type="number" formControlName="phone" class="form-control">
                </div>
              </div> -->
              <!-- <div class="col-md-10">
                <div class="form-group">
                  <label class="bmd-label-floating">Confirm PIN</label>
                  <input type="email" formControlName="confirmPIN" class="form-control">
                </div>
              </div> -->
          <!--<div class="col-md-4">
               <div class="form-group">
                 <label class="bmd-label-floating">Password</label>
                 <input type="password" formControlName="password" class="form-control">
               </div>
             </div>-->
            <!-- </div>
            <div class="row">
              <div class="col-md-10">
                <div class="form-group">
                  <label class="bmd-label-floating">Location</label>
                  <input type="text" Style=" text-transform: uppercase;" formControlName="location" class="form-control">
                </div>
              </div> -->
              <!-- <div class="col-md-4">
                <div class="form-group">
                  <label class="bmd-label-floating">Manager Name</label>
                  <input type="text" Style=" text-transform: uppercase;" formControlName="managerName" class="form-control">
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label class="bmd-label-floating">Manager Email</label>
                  <input type="email" formControlName="managerEmail" class="form-control">
                  
                </div>
              </div> -->
           <!-- // </div> --> 
            <!-- <div class="row">
              <div class="col-md-7">
                <div class="form-group">
                 
                  <div class="form-group">
                    <label class="bmd-label-floating"> What ideas does the new agent has and wish it is implemented general insurance in Ghana</label>
                    <textarea class="form-control" rows="5"></textarea>
                  </div>
                </div>
              </div>
              <div class="col-md-5">
                 <div class="">
                <br><br><br>
                <label>Upload agent photo here Strongly png*, jpg* file</label><br>
                 <input type="file" accept="image/png, image/jpeg">
              </div>
              </div>
            </div> -->
            <!-- <button type="submit" class="btn btn-danger pull-right" (click)="onSubmit()">Save</button>
            <div class="clearfix"></div> -->
          <!-- </form> -->
        </div>
      </div>
    </div>
    <div class="col-md-1">

    </div>
   <!-- <div class="col-md-3">
      <div class="card card-profile">
        <div class="card-avatar">
          <a href="#pablo">
            <img class="img" src="../assets/img/faces/marc.jpg" />
          </a>
        </div>
        <div class="card-body">
          <h6 class="card-category text-gray">CEO / Co-Founder</h6>
          <h4 class="card-title"> {{userdata.firstName}}</h4>
          <p class="card-description">
            Don't be scared of the truth because we need to restart the human foundation in truth And I love you like Kanye loves Kanye I love Rick Owens’ bed design but the back is...
          </p>
          <a href="#pablo" class="btn btn-primary btn-round">Follow</a>
        </div>
      </div>
    </div>-->
  </div>

  </div>
  </div>