<div class="wrapper ">
  <!--sideNav here-->
    <div class="main-panel">
      <!-- Navbar -->
     <!-- <app-topnav></app-topnav>-->

<div class="sidebar" data-color="purple" data-background-color="white" data-image="assets/img/sidebar-1.jpg">

<div class="logo">
  <a href="http://www.smartcover.com" class="simple-text logo-normal">
    <img style="height:55px; width: 160px;" src="assets/img/smc.png" alt="">
  </a>
</div>
<div class="sidebar-wrapper">
  <ul class="nav">
    <li class="nav-item active ">
      <a class="nav-link" (click)="maindasbd()">
        <i class="material-icons">dashboard</i>
        <p>Dashboard</p>
      </a>
    </li>
    <li class="nav-item" *ngFor="let menu of menus">
      <a class="nav-link" (click)="routefn(menu.route)">
        <i class="material-icons">{{ menu.icon }}</i>
        <p>{{ menu.name }}</p>
      </a>
    </li>
  </ul>
</div>
</div>
<app-topnav></app-topnav>
<app-dashboard *ngIf="falseAuth"></app-dashboard>

<!--<app-footer *ngIf="falseAuth"></app-footer>-->

<!--</div>
</div>
<app-colorcode *ngIf="falseAuth"></app-colorcode>-->



<router-outlet></router-outlet>


